# This .gitignore file was written with VSCode (and Maven) in mind.
# If you use other IDE, please add the relevant IDE-specific files here.

.settings/*
.vscode/*
target/*
.classpath
.project
